/* Default & reset */

body {
margin: 0;
padding: 0;
font-size: 18px;
line-height: 26px;
font-family: 'Long Cang', cursive;
/*font-family: 'Roboto Condensed', sans-serif;*/

}

a {
    text-decoration: none;
}

div.content {
    padding: 0 20px;
}

div.content-wrapper {
    margin: auto; /* this to center the element */
    padding-top: 50px;
    padding-bottom: 20px;
    width: 1000px;
    max-width: 100%;
    border-bottom: 1px dotted wheat; /* #000000 */

}

div. content-wrapper .subtitle {


}

/* Banner */
div.top {
    width: 100%;
    height: 280px;
    background-color: rgb(12, 67, 245); 
    background-image: url(../images/gamer.jpg);
    background-position: center;
}
div.top h1 {
    width: 100%;
    height: 280px;
    line-height: 200px;
    text-align: center;
    font-size: 70px;
    color: #000000;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
/* Menu */
div.menu {
    width: 100%;
    background: #222222;
}

div.menu ul {
    width: 1000px;
    margin: auto;
    list-style: none;
    padding: 0%;
    max-width: 100%;
}

div.menu ul li {
    display: inline-block;
}

div.menu ul li a {
    display: inline-block;
    padding: 15px 30px 15px 30px; /*same value with padding:15px 30px*/
    color:#fffffff ;
}

div.menu ul li a:hover, div.menu ul li a.current {
    color: #222222;
    background-color: #ffffff;
}

/* About*/
div#about {

}

div#about table {
    width: 100%;
    margin: auto;
}

div#about table td, div#about table th{

}
div#about img{
    width: 400px;
    height: 420px;
    margin-right: 10px;
    

}


/* Skills*/
div#skills {

}

div#skills table {
    width: 100%;
    margin: auto;
    vertical-align: top;
    border-collapse: collapse;
}

div#skills table td, div#skills table th{
    vertical-align: top;
    text-align: left;
    padding: 5px 10px;
}
div#skills table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/*Contact */
div#contact {

}

div#contact ul .social {
    list-style-type: none;
}

div#contact ul.social li {
    display: inline-block;
}

/* Contact Form*/
div#contactform {

}

div#contactform label {
    display: block;
}
input, textarea {
    border: 1px solid #eaeaea;
    padding: 4px 10px;
    border-radius: 2px;
    line-height: 30px;
    width: 300px;
    font-family: Arial;
    font-size: 15px;
}

textarea {
    height: 120px;
}

input[type="checkbox"], input[type="submit"] {
    width: auto;
}

/* Footer */
div.bottomm {
    background-color: black;
}

div.bottom .copyright {
    margin: auto;
    width: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 100%;  
}

div.bottom .copyright p {
    text-align: center;
    color: #ffffff;
}
